.footer {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  pointer-events: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  &_container {
    width: 50%;
    max-width: 1200px;
    margin-left: auto;
    padding: 0 1.78571vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.78571vw;
    &_social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.78571vw;
    }
    &_copy {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.78571vw;
      &__text {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
