.footer {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  pointer-events: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  &_container {
    width: 50%;
    max-width: 1200px;
    margin-left: auto;
    padding: 0 1.78571vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.78571vw;
    &_social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.78571vw;
    }
    &_copy {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.78571vw;
      &__text {
        font-size: 12px;
        font-weight: 400;
        color: var(--font-color);
      }
    }
    @media screen and (max-width: 800px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 3rem;
    }
    @media screen and (max-width: 400px) {
      padding: 0 3rem 0 1.5rem;
      &_copy {
        &__text {
          font-size: 10px;
        }
      }
    }
  }
}
