.nav {
  width: 100%;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4vw;
  z-index: 999;
  color: var(--font-color);
  @media screen and (max-width: 1400px) {
    background: var(--bg-color-light);
  }
  &_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    @media screen and (max-width: 1400px) {
      align-items: center;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    margin-left: 4vw;
    margin-top: 1rem;
    @media screen and (max-width: 1400px) {
      margin-top: 0;
    }
    & > img {
      filter: invert(71%) sepia(8%) saturate(761%) hue-rotate(176deg)
        brightness(91%) contrast(88%);
      transition: filter 0.5s ease;
      width: 40px;
      min-width: 40px;
      height: 40px;
      @media screen and (max-width: 400px) {
        width: 30px;
        min-width: 30px;
        height: 30px;
      }
    }
  }
  &_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    pointer-events: all;
    &__item {
      width: 96px;
      position: relative;
      opacity: 0.4;
      transition: opacity 0.3s ease;
      padding: 16px;
      &::before {
        content: "";
        position: absolute;
        height: 2px;
        background: var(--font-color);
        left: 16px;
        right: 16px;
        bottom: 8px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s cubic-bezier(0.27, 0, 0, 1);
      }
      &:hover:not(&_active) {
        opacity: 0.5;
        &::before {
          content: "";
          position: absolute;
          height: 2px;
          background: var(--font-color);
          left: 16px;
          right: 16px;
          bottom: 8px;
          transform: scaleX(0.25);
          transform-origin: left;
          transition: transform 0.5s cubic-bezier(0.27, 0, 0, 1);
        }
      }
      &_active {
        opacity: 1;
        &::before {
          content: "";
          position: absolute;
          height: 2px;
          background: var(--font-color);
          left: 16px;
          right: 16px;
          bottom: 8px;
          transform-origin: left;
          transform: scaleX(1);
          transition: transform 0.5s cubic-bezier(0.27, 0, 0, 1);
        }
      }
    }
    @media screen and (max-width: 1400px) {
      flex-direction: row;
    }
    @media screen and (max-width: 400px) {
      gap: 0;
      &__item {
        font-size: 16px;
        width: fit-content;
        padding: 16px;
      }
    }
  }
}
