.formGroup {
  margin-bottom: 1rem;
  position: relative;
  & > button {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background: var(--font-color);
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    transition: all 0.3s ease;
    &:hover {
      background: var(--primary-color);
      color: var(--font-color);
    }
  }
}
.input {
  position: relative;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  background: var(--font-color);
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  &::placeholder {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
  }
  &_disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  & > input {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  & > label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
  }
}
.passIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
}
