.container {
  cursor: default !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: radial-gradient(#0002 100%, transparent 100%);
  box-shadow: 5px 5px 10px #0007, -1px -1px 2px #fff, 1px 1px 2px;
  backdrop-filter: blur(15px);
  animation: fadeIn 0.5s ease-in-out;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &_header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    &__title {
      font-size: 20px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: var(--font-color);
      &__status {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-left: 20px;
        & > svg {
          opacity: 0.5;
          transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
          &.active {
            color: #60d394;
            opacity: 1;
          }
        }
      }
    }
    &__close {
      color: var(--font-color);
    }
  }
  &_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
}

// Animations

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
