@import "../../../../styles/commons/Form.module.scss";
.airportsMap {
  position: relative;
  width: 100%;
  height: 800px;
  @media only screen and (max-width: 600px) {
    height: 400px;
  }
}
.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.slider {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
