// Variables for dark and light mode
:root {
  --border-color: rgba(255, 255, 255, 0.2);
  --primary-color: #f5f5f5;
  --secondary-color: #536390;
  --font-color: #94a3b8;
  --font-color-inverse: #3e3e3e;
  --font-grey: #94a3b8;
  --bg-color: #16181d;
  --bg-color-light: #1e293b;
  --bg-color-inverse: #eff1f6;
  --heading-color: #fff;
  --shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1);
}
// Reset CSS
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: none;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: var(--bg-color-light);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--font-color);
    mix-blend-mode: difference;
    border-radius: 2px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  font-family: "Helvetica Neue", sans-serif;
  color: #3e3e3e;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
textarea {
  resize: none;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#root,
#__next {
  isolation: isolate;
  position: relative;
}

body > #__next {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
}
.main {
  flex: 1;
  transition: background-color 0.5s ease-in-out;
  background: var(--bg-color-light);
  color: var(--font-color);
  &.light {
    background: var(--bg-color-inverse);
  }
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: 99999;
  pointer-events: none;
  mix-blend-mode: difference;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  &.hidden {
    opacity: 0;
  }
}
.cursorText {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  font-size: 4px;
  font-weight: 700;
  text-wrap: nowrap;
}

// Fonts imports
@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/Helvetica/Thin-100.woff2");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/Helvetica/Light-300.woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/Helvetica/Regular-400.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/Helvetica/Medium-500.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/assets/fonts/Helvetica/Bold-700.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
