.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  padding: 6rem 6.5rem;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  @media screen and (max-width: 800px) {
    padding: 6rem 3rem;
  }
  @media screen and (max-width: 400px) {
    padding: 6rem 2rem;
  }

  &__title {
    font-size: 10vw;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 2vw;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2rem;
  }

  &_monitorButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: none;
    outline: none;
    background: none;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
      filter: drop-shadow(0 0 0.5rem #fff);
    }
  }

  &_hero {
    width: 100%;
    margin: 10.71429vw 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    &__title {
      font-size: 170px;
      line-height: 120px;
      font-weight: 500;
      margin-right: 20px;
      &__underscore {
        display: inline-block;
        width: 90px;
        height: 16px;
        background: var(--font-color);
        margin-right: 20px;
        margin-bottom: 15px;
      }
      &__nextUnderscore {
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 10px;
      }
      &__right {
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 10px;
        margin-left: auto;
      }
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: flex-end;
      &__title {
        font-size: 100px;
        line-height: 100px;
        margin-right: 0;
        margin-bottom: 0px;
        &__underscore {
          width: 60px;
          height: 10px;
          margin-right: 0;
          margin-bottom: 10px;
        }
        &__nextUnderscore {
          font-size: 12px;
          margin-bottom: 5px;
        }
        &__right {
          font-size: 12px;
          margin-left: 0;
        }
      }
    }
  }
  &_content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &_title {
      &__name {
        font-size: 30px;
        font-weight: 700;
        color: var(--font-color-light);
      }
    }
    &_description {
      font-size: 16px;
      font-weight: 300;
      color: var(--font-color);
      margin-top: 2rem;
      & > p {
        margin-bottom: 1rem;
        &:nth-child(even) {
          text-align: right;
        }
      }
      &__link {
        color: var(--font-color);
        font-weight: 700;
        transition: color 0.5s ease;
        &:hover {
          color: var(--font-color-light);
        }
      }
    }
    &_social {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2rem;
      &__links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 2rem;
        & > a {
          margin-right: 1rem;
          &:last-child {
            margin-right: 0;
          }
          & > svg {
            width: 30px;
            height: 30px;
            fill: var(--font-color);
            transition: fill 0.5s ease;
            &:hover {
              fill: var(--font-color-light);
            }
          }
        }
      }
    }
  }
}
.topOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    180deg,
    rgba(30, 41, 59, 1) 0%,
    rgba(30, 41, 59, 0) 100%
  );
  z-index: 998;
  pointer-events: none;
  @media screen and (max-width: 1400px) {
    top: calc(8vw + 56px);
  }
}
